* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Ubuntu Mono", monospace;
  background-color: #1d2333;
  color: #bfbfbf;
  padding-left: 6%;
  padding-top: 4%;
}

h1,
h2,
h3 {
  padding: 1.5rem;
}
p {
  padding: 1.5rem;
}
a {
  color: #9bf6ff;
  font-size: 2rem;
  text-decoration: none;
  padding: 1.5rem;
  flex-basis: 30%;
}
.header {
}
.container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
